body {
  color: #939aa9;
}

footer {
  text-align: center;
  margin-top: 0px;
}

.degree {
  font-size: 15px;
  position: relative;
  top: -10px;
}

.weather {
  border: 1px solid rgb(170, 170, 170);
  padding: 10px;
  margin: 20px auto;
  max-width: 680px;
  border-radius: 10px;
}

.button-search {
  background-color: #f79334;
  border: none;
  color: #fff;
  transition: all 230ems ease-in-out;
}

.button-search:hover {
  background-color: #fdc28a;
}

.button-locate {
  border: none;
  color: #fff;
  background-color: #527be3;
}

.button-locate:hover {
  background-color: #779bf7;
}

.location {
  max-width: 22px;
}

.intro {
  margin-top: 10px;
  margin-left: 70px;
}

.main {
  margin-top: 30px;
}

.city {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}

.date {
  text-align: center;
}

.weather-main img {
  width: 40%;
  padding-left: 20px;
  margin-left: 40px;
}

.temperature {
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
  margin-top: 0;
}

.description {
  font-size: 20px;
  text-transform: capitalize;
}

.extras {
  font-size: 18px;
  margin-left: 40px;
}

.week {
  font-size: 13px;
}

.subimages {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.summaryname {
  font-size: 13px;
  text-align: center;
  padding-top: 25px;
}

.summarydegree {
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}
